{% extends "layout.html" %}

{% block body %}
    <div class="row">


        <div class="col-lg-8">


            <h3 class="mt-4">{{ book.title }}</h3>


            <p class="lead">

                {{ book.author.username }} tarafından yayınlandı
            </p>

            <hr>


            <p>{{ book.created_date }}</p>

            <hr>


            {% if boook.book_image %}
                <img class="img-fluid rounded" src="{{ book.book_image.url }}"
                     alt="">
            {% endif %}


            <hr>


            <p class="lead">
                {{ book.content|safe }}
            </p>

            <hr>

            <h4>Yorumlar</h4>
            <hr>
            {% if comments %}
                {% for comment in comments %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle"
                             src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.comment_author }}</h5>
                            {{ comment.comment_date }} <br>
                            {{ comment.comment_content }}
                        </div>
                    </div>
                {% endfor %}


            {% else %}
                <div class="alert alert-danger">
                    Bu kitaba herhangi bir yorum yazılmamış,ilk yorum yapan siz
                    olun!
                </div>
            {% endif %}

            <div class="card my-4">
                <h5 class="card-header">Yorum Ekle:</h5>
                <div class="card-body">
                    <form class="js-book-comment"
                          book-comment-url="{% url 'book:comment' %}"
                          book-id="{{ book.id }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">İsim</label>
                            <input name="comment_author" type="text"
                                   class="form-control"
                                   id="id_comment_form_name"
                                   placeholder="İsminizi girin">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Yorum</label>
                            <textarea name="comment_content"
                                      id="id_comment_form_comment"
                                      class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger"
                                id="id_comment_post"
                        >
                            Ekle
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>



{% endblock body %}
