{% extends "layout.html" %}

{% block body %}

    <h3>Favori Listesi</h3>
    <hr>
    <p>
        Hoşgeldiniz, <small>{{ request.user.username }}</small>
    </p>
    {% if  favourite_books %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Başlık</th>
                <th scope="col">Yazar</th>
                <th scope="col">Tarih</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>

            {% for fav in favourite_books %}
                <tr>
                    <th scope="row">{{ fav.id }}</th>
                    <td>
                        <a href="{% url 'book:detail' fav.id %}">{{ fav.book.title }}</a>
                    </td>
                    <td>{{ fav.book.author.name }}</td>
                    <td>{{ fav.book.created_date }}</td>
                    <td>
                        {% comment %}<a href="{% url 'book:delete' fav.book.id %}"
                           class="btn btn-danger">Sil</a>{% endcomment %}
                        <form action="{% url 'book:delete_favourite' fav.id %}"
                              method="delete">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}

        <div class="alert alert-danger">
            Henüz Bir Favori Kitap Eklenmedi.

        </div>
    {% endif %}
{% endblock body %}