{% extends "layout.html" %}

{% block body %}
    <h3>İstek Listesi</h3>
    <hr>
    <p>
        Hoşgeldiniz, <small>{{ request.user.username }}</small>
    </p>
    <hr>
    <a class="btn btn-danger" href="{% url 'book:add_wish' %}">İstek Kitap Ekle </a>
    <hr>
    {% if wish %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Başlık</th>
                <th scope="col">Yazar</th>
                <th scope="col">Tarih</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>

            {% for wis in wish_books %}
                <tr>
                    <th scope="row">{{ wis.id }}</th>
                    <td><a href="{% url 'book:detail' wis.id %}">{{ wis.title }}</a></td>
                    <td>{{ wis.author.name }}</td>
                    <td>{{ wis.created_date }}</td>
                    <td><a href="{% url 'book:delete_wish' book.id %}" class="btn btn-danger">Sil</a></td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}

        <div class="alert alert-danger">
            Henüz Bir İstek Kitap Eklenmedi.

        </div>
    {% endif %}
{% endblock body %}